<% if self.admin? %>
    <%= form_for @announcement  do |f| %>
        <%= render :partial => 'form', :locals => { :f => f } %>

        <%= f.submit "Create" %>
    <% end %>
<% else %>
    <h1>403 Forbidden</h1>
<% end %>
